@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffcf00;
}

.container {
  @apply max-w-[1200px]  md:px-8 px-3 mx-auto overflow-hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  background-image: url("../assets/line-overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay2 {
  background-image: url("../assets/line-overlay-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay3 {
  background-image: url("../assets/line-overlay-3.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.brandoverlay2 {
  background-image: url("../assets/brand-overlay.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.retailerOverlay {
  background-image: url("../assets/retailer-overlay.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.contactOverlay {
  background-image: url("../assets/contact-overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.productDetailOverlay {
  background-image: url("../assets/product-detail-line.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shopcategorybackground {
  background-image: url("../assets/shopcategory.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutBackgroundImage {
  background-image: url("../assets/about/about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
}

.bannerImage {
  background-image: url("../assets/banner1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 482px;
}
.ContactUsImage {
  background-image: url("../assets/contact-us.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 844.949462890625px;
}


 button {
  cursor: pointer;
 }

 .masonry {
  column-count: 3;
}

.masonry-item {
  break-inside: avoid;
}
